.eventContainerBox {
  width: 500px;
  height: 500px;
}

.mainContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.eventImg img {
  height: 500px;
  width: 500px;
} title {
  height: 50px;
}