.eventContainerBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
} 

.mainContainer {
  // margin-top: 1em;
  // display: flex;
  // justify-content: center;
  margin: 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.eventBox{
  border-style: solid;
  border-width: 1px;
  background-color: rgb(229, 216, 216);
  border-radius: 15px;
  padding: 10px;
}